.navbar{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
 display: flex;
 flex-wrap: wrap;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600px;
    gap: 10px;
} 
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    color: #626262;
font-size: 20px;
font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.nav-login {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.nav-login button{
    width: 157px;
    height: 50px;
    outline: none;
    border: 1px solid #FF4141;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    }
.nav-login button:active{
        background: #f3f3f3 ;
    }
.nav-cart-count{
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -45px;
        margin-left: 35px;
        border-radius: 11px;
        background: red;
        font-size:14px;
        color: white;
    } 
/* .navbar{
    display:flex;
    justify-content:space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    gap: 50px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 150px;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600px;
    gap: 200px;
}   
.nav-menu{
display: flex;
align-items: center;
list-style: none;
gap: 100px;
color: #626262;
font-size: 20px;
font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.nav-login-cart button{
width: 157px;
height: 50px;
outline: none;
border: 1px solid #FF4141;
border-radius: 75px;
color: #515151;
font-size: 20px;
font-weight: 500;
background: white;
cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3 ;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    margin-left: 35px;
    border-radius: 11px;
    background: red;
    font-size:14px;
    color: white;
} */